.mid {
  background-color: aqua;
  display: inline-block;
  width: 63%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar li {
  list-style: none;

  margin: auto;
}

.navbar li button {
  text-decoration: none;
  color: rgb(29, 25, 231);
  font-size: 18px;
  padding: 8px 20px;
}

.navbar li button:hover {
  color: rgb(151, 7, 247);
  border: darkmagenta;
  border-radius: 2px;
  font-size: 20px;
}

.navbar li button:active {
  background-color: deepskyblue;
  border-radius: 5px;
}
